{% extends 'base.html' %}

{% block title %}
    - expenses
{% endblock %}

{% block content %}
    <div class="content-wrapper-scroll">

        <!-- Content wrapper start -->
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Filter Expenses</div>
                            <form class="row g-3">
                                <!-- Date Range Filter -->
                                <div class="col-md-4">
                                    <label for="startDate" class="form-label">Expenses Date</label>
                                    <input type="text" class="form-control custom-daterange2" id="startDate">
                                </div>

                                <!-- Order Status Filter -->
                                <div class="col-md-4">
                                    <label for="category" class="form-label">Expense Category</label>
                                    <select class="form-select" id="category">
                                        <option value="">Select Expense Category</option>
                                        <option value="Fuel" selected>Fuel</option>
                                        <option value="Maintenance">Maintenance</option>
                                        <option value="Packaging">Packaging</option>
                                        <option value="Ticket">Ticket</option>
                                        <option value="Rider">Salary</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <!-- Rider Filter -->
                                <div class="col-md-4">
                                    <label for="minAmount" class="form-label">Min Amount</label>
                                    <input type="number" class="form-control" id="minAmount"
                                           placeholder="Enter minimum amount">
                                </div>
                                <div class="col-md-4">
                                    <label for="maxAmount" class="form-label">Max Amount</label>
                                    <input type="number" class="form-control" id="maxAmount"
                                           placeholder="Enter maximum amount">
                                </div>
                                <!-- Submit Button -->
                                <div class="col-md-4 align-self-end">
                                    <button type="button" class="btn btn-primary w-100">Generate Report</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Expenses</div>

                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="customerTable" class="customerTable table v-middle">
                                    <thead>
                                    <tr>
                                        <th>ExpID</th>
                                        <th>Catigory</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Vendor/Payee</th>
                                        <th>payment Method</th>
                                        <th>Date</th>


                                        <th>Exp Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">PR03541</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Fuel</td>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">Buy Fuel</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>3000</td>
                                        <td>Romchi fuel stattion</td>
                                        <td>Cash</td>
                                        <td>
                                            8:30am 20/09/24
                                        </td>

                                        <td>
                                            <span class="badge shade-green min-90">Paid</span>
                                        </td>


                                        <td>
                                            <div class="actions">

                                                <button type="button" class="btn btn-light " data-bs-toggle="modal"
                                                        data-bs-target="#editmodel" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Edit"><i
                                                        class="bi bi-pencil-square text-green"></i></button>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Delete"
                                                        style="margin-left: 10px;"><i
                                                        class="bi bi-trash text-white"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">PR03541</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Fuel</td>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">Buy Fuel</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>3000</td>
                                        <td>Romchi fuel stattion</td>
                                        <td>Bank Transfer</td>
                                        <td>
                                            8:30am 20/09/24
                                        </td>

                                        <td>
                                            <span class="badge shade-red min-90">Pending</span>
                                        </td>


                                        <td>
                                            <div class="actions">

                                                <button type="button" class="btn btn-light " data-bs-toggle="modal"
                                                        data-bs-target="#editmodel" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Edit"><i
                                                        class="bi bi-pencil-square text-green"></i></button>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Delete"
                                                        style="margin-left: 10px;"><i
                                                        class="bi bi-trash text-white"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">PR03541</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Fuel</td>
                                        <td>
                                            <div class="media-box">

                                                <div class="media-box-body">
                                                    <div class="text-truncate">Buy Fuel</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>3000</td>
                                        <td>Romchi fuel stattion</td>
                                        <td>Cash</td>
                                        <td>
                                            8:30am 20/09/24
                                        </td>

                                        <td>
                                            <span class="badge shade-blue min-90">reimbursed</span>
                                        </td>


                                        <td>
                                            <div class="actions">

                                                <button type="button" class="btn btn-light " data-bs-toggle="modal"
                                                        data-bs-target="#editmodel" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Edit"><i
                                                        class="bi bi-pencil-square text-green"></i></button>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Delete"
                                                        style="margin-left: 10px;"><i
                                                        class="bi bi-trash text-white"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
    </div>
    <!--Edit modal-->
    <div class="modal fade" id="editmodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="scrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 1px #ddd solid;">
                    <h5 class="modal-title" id="scrollableLabel">Edit Expense : WESTD5547</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <!-- Expense Name -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Expense Name <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" placeholder="eg. Buying of fuel"
                                           name="expName"
                                           value="Buying of fuel">
                                </div>
                            </div>

                            <!-- Amount -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Amount <span class="text-red">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Expense Amount"
                                           name="expAmount" value="500">
                                </div>
                            </div>

                            <!-- Expense Category -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Expense Category<span class="text-red">*</span></label>
                                    <select class="form-control" name="expCategory">
                                        <option value="">Select Expense Category</option>
                                        <option value="Fuel" selected>Fuel</option>
                                        <option value="Maintenance">Maintenance</option>
                                        <option value="Packaging">Packaging</option>
                                        <option value="Ticket">Ticket</option>
                                        <option value="Rider">Salary</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Vendor (Optional) -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Vendor <span class="text-red">(optional)</span></label>
                                    <input type="text" class="form-control" placeholder="Enter vendor name"
                                           name="vendor"
                                           value="Vendor Name">
                                </div>
                            </div>

                            <!-- Status -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="mb-3">
                                    <label class="form-label">Status <span class="text-red">*</span></label>
                                    <select class="form-control" name="status">
                                        <option value="Paid" selected>Paid</option>
                                        <option value="Reimbursed">Reimbursed</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                </div>
                        </form>

            </div>
        </div>
    </div>
    <!--end-->
{% endblock %}