<!-- Scrollable Modal -->
<div class="modal fade" id="scrollable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="scrollableLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px #ddd solid;">
                <h5 class="modal-title" id="scrollableLabel">Order ID: {{ order.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div><p>From</p></div>
                    <p class="ml-auto">{{ order.from }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>To</p></div>
                    <p class="ml-auto">{{ order.to }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Order Type</p></div>
                    <p class="ml-auto">{{ order.order_type }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Amount</p></div>
                    <p class="ml-auto">{{ order.amount }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Description</p></div>
                    <p class="ml-auto">{{ order.description }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Payment Method</p></div>
                    <p class="ml-auto">{{ order.payment_method }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Order Placed</p></div>
                    <p class="ml-auto">{{ order.ordered_placed }}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Status</p></div>
                    <p class="ml-auto badge shade-{{ order.status_color }}">{{ order.status }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Order Modal -->
<div class="modal fade" id="modalDark" tabindex="-1" aria-labelledby="modalDarkLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDarkLabel">Complete Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'complete_order' order.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card-body">
                        <div class="m-0">
                            <label class="form-label">Rider Info</label>
                            <input type="text" class="form-control" name="rider_info" placeholder="Enter Rider name or ID">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Complete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Cancel Order Modal -->
<div class="modal fade" id="modalReason" tabindex="-1" aria-labelledby="modalReasonLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReasonLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'cancel_order' order.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="reason">Cancellation Reason</label>
                        <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Cancel Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
